network:
  version: 2
  ethernets:

{% for interface in routes %}
    {{ interface.interface_name | default('enp0s8') }}:
      addresses:
        - {{ interface.interface_ip }}/{{ interface.interface_prefix | default('24') }}

{% if interface.interface_default_gateway is defined and interface.interface_default_gateway != '' %}
      routes:
        - to: default
          via: {{ interface.interface_default_gateway }}
{% endif %}

{% if interface.interface_routes is defined and interface.interface_routes | length > 0 %}
      routing-policy:
{% for r in interface.interface_routes %}
        - to: {{ r.to }}
          via: {{ r.via }}
{% endfor %}
{% endif %}

{% endfor %}